* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: black
}







header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.1vw;
    z-index: 3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.8vw;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    width: 100%;
    height: 2.9vw;
}

.logo {
    width: 2.35vw;
    aspect-ratio: 77 / 90;
}

.navbar ul {
    display: inline-block;
    list-style-type: none
}

.navbar ul li {
    display: inline-block;
    margin-right: 0.8vw;
    margin-left: 0.8vw;

}

.navText {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: calc(0.52vw + 0.25rem);
    font-display: swap;
    transition: 25ms;
}

.navText:hover {
    border-bottom: 2px solid #FF1E7D;
    transition: 25ms;
}

.button {
    background-color: #FF1E7D;
    border: none;
    padding-top: 0.22vw;
    padding-bottom: 0.22vw;
    padding-left: 0.56vw;
    padding-right: 0.56vw;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: calc(0.5vw + 0.3rem);
    transition: 250ms;
    font-display: swap;
}

.button:hover {
    background-color: #8a1244;
    transition: 250ms;
    border-bottom: none;
}


/* translator */
label {
    display: none;
}

#languages {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 0.65vw;
    background-color: #080808;
    border-radius: 4px;
    border: none;
    padding-top: 0.30vw;
    padding-bottom: 0.30vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: 250ms;
    font-display: swap;
}

#languages:hover {
    background-color: #131313;
    transition: 250ms;
}

#languages option {
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
    color: black;
}





.main {
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 51.05vw;
    width: 100%;
    background-image: url('/images/backgrounds/heroBakcground.webp');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 6vw;
    z-index: 2;
    aspect-ratio: 16 / 9;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51.05vw;
    background: linear-gradient(90deg, #000 0%, rgba(0, 0, 0, 0.85) 21.88%, rgba(0, 0, 0, 0.68) 35.42%, rgba(0, 0, 0, 0.50) 48.44%, rgba(0, 0, 0, 0.22) 59.90%, rgba(0, 0, 0, 0.00) 68.75%);
    z-index: 2;
}


.heroDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    gap: 0.9vw;
    z-index: 3;
}

.heroDescription h1 {
    font-size: 5vw;
    color: #06BAB8;
    line-height: 5.1vw;
    width: 34vw;
    justify-self: flex-end;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-display: swap;
}

.heroDescription p {
    font-family: 'Roboto', sans-serif;
    font-size: calc(1vw + 0.1rem);
    line-height: 1.8vw;
    width: 22vw;
    font-weight: 400;
    font-display: swap;
}

.heroDescription a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border: none;
    padding-top: 0.47vw;
    padding-bottom: 0.47vw;
    padding-left: 0.7vw;
    padding-right: 0.7vw;
    border-radius: 5px;
    font-weight: 400;
    transition: 250ms;
    font-display: swap;
}

.heroDescription a:hover {
    background-color: #8a1244;
    transition: 250ms;
}


.character-1 {
    width: 37vw;
    align-self: flex-end;
    aspect-ratio: 185 / 212;
}









.features-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4.6vw;
    height: 12.18vw;
    width: 100%;
    background-color: black;
    position: relative;
    z-index: 1;
}

.features-section::before {
    content: "";
    height: 8vw;
    width: 100%;
    position: absolute;
    top: 0vw;
    left: 0vw;
    bottom: 0;
    right: 0;
    opacity: 1;
    border-radius: 392px;
    background: radial-gradient(30.93% 30.93% at 50.00% 69.07%, #06BAB8 0%, rgba(0, 0, 0, 0.00) 100%);
    filter: blur(300px);
    z-index: 1;
}

.server-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.55vw;
}

.server-details h2 {
    font-size: 1.1vw;
    color: #06BAB8;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-display: swap;
}

.server-details p {
    text-align: center;
    font-size: 0.63vw;
    width: 60%;
    line-height: 1.3vw;
    font-family: "Roboto", sans-serif;
    font-display: swap;
}








.roles-section {
    display: flex;
    flex-direction: column;
    height: 51.05vw;
    width: 100%;
    z-index: 2;
    gap: 7.5vw;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 1;
}

.roles-section::before {
    content: " ";
    position: absolute;
    opacity: 19%;
    top: 0;
    left: 0;
    height: 51.05vw;
    width: 100%;
    background-image: url('/images/backgrounds/3_Backgrounbd.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale(100%);
}

.roles-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
}

.roles-title h2 {
    font-size: 3vw;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-display: swap;
    font-weight: 700;
    color: #06BAB8;
    z-index: 3;
}

.roles-title p {
    font-family: "Roboto", sans-serif;
    font-size: 0.8vw;
    font-display: swap;
    width: 18vw;
    line-height: 1.55vw;
    z-index: 3;
}


.roles-container {
    display: flex;
    flex-direction: row;
    gap: 13.77vw;
    z-index: 3;
    margin-top: 0.5vw;
}


.roles-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.48vw;
}

.roles-frame {
    display: flex;
    align-items: center;
    width: 15vw;
    height: 27.7vw;
    border-radius: 25px;
    border: 5px solid #FFF;
    background: linear-gradient(135deg, #06BAB8 0%, #FF1E7D 100%);
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}


.roles-characters {
    position: absolute;
    bottom: 0vw;
    right: -3.3vw;
    width: 21.5vw;
    aspect-ratio: 703 / 1005;
}


.roles-content h3 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    font-display: swap;
    color: #06BAB8;
}







.middle-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 136.3vw;
    width: 100%;
    z-index: 3;
    gap: 17.5vw;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.middle-section::before {
    content: " ";
    position: absolute;
    opacity: 8%;
    bottom: 61.5vw;
    left: 0;
    width: 100%;
    height: 72.5vw;
    background-image: url('/images/backgrounds/businesssBackground.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale(100%);
}


.middle-section::after {
    content: " ";
    position: absolute;
    opacity: 8%;
    bottom: 0vw;
    left: 0;
    width: 100%;
    height: 50.5vw;
    background-image: url('/images/backgrounds/vehiclesBackground.webp');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    filter: grayscale(100%);
}





.business {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    z-index: 3;
    gap: 6vw;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}


.business-Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1vw;
}

.business-Description h2 {
    font-size: 3vw;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    color: #06BAB8;
    z-index: 3;
    line-height: 2vw;
    z-index: 3;
    font-display: swap;
}

.business-Description p {
    font-family: "Roboto", sans-serif;
    z-index: 3;
    font-size: 0.8vw;
    width: 18vw;
    line-height: 1.55vw;
    z-index: 3;
    font-display: swap;
}

.business a {
    background-color: #FF1E7D;
    border: none;
    padding-top: 0.44vw;
    padding-bottom: 0.44vw;
    padding-left: 0.56vw;
    padding-right: 0.56vw;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: calc(0.5vw + 0.3rem);
    font-display: swap;
    text-decoration: none;
    z-index: 3;
    transition: 250ms;
}

.business a:hover {
    background-color: #8a1244;
    transition: 250ms;
}

.business-img {
    border-radius: 15px;
    border: 0.11vw solid #06BAB8;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    width: 40vw;
    z-index: 3;
    aspect-ratio: 16 / 9;
}





.vehicles-container {
    display: flex;
    flex-direction: column;
    gap: 4vw;
}

.vehicles-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 3;
    gap: 0.13vw;
}

.vehicles-title h2 {
    font-size: 3vw;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-display: swap;
    font-weight: 700;
    color: #06BAB8;
    z-index: 3;
}

.vehicles-title p {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    z-index: 3;
    font-size: 0.8vw;
    width: 18vw;
    line-height: 1.55vw;
    z-index: 3;

}


.vehicles-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 5.5vw;
    z-index: 3;
    margin-top: 0.5vw;
}


.vehicles-img {
    border-radius: 12px;
    border: 0.11vw solid #06BAB8;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    width: 25vw;
    aspect-ratio: 16 / 9;
}






.missions {
    display: flex;
    align-items: center;
    flex-direction: reverse;
    width: 100%;
    z-index: 3;
    gap: 6vw;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}


.missions-Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1vw;
}

.missions-Description h2 {
    font-size: 3vw;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-display: swap;
    font-weight: 700;
    color: #06BAB8;
    z-index: 3;
    line-height: 2vw;
    z-index: 3;
}

.missions-Description p {
    font-family: "Roboto", sans-serif;
    font-display: swap;
    z-index: 3;
    font-size: 0.8vw;
    width: 18vw;
    line-height: 1.55vw;
    z-index: 3;
}

.missions a {
    background-color: #FF1E7D;
    border: none;
    padding-top: 0.44vw;
    padding-bottom: 0.44vw;
    padding-left: 0.56vw;
    padding-right: 0.56vw;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: calc(0.5vw + 0.3rem);
    font-display: swap;
    text-decoration: none;
    z-index: 3;
    transition: 250ms;
}

.missions a:hover {
    background-color: #8a1244;
    transition: 250ms;
}

.missions-img {
    border-radius: 15px;
    border: 0.11vw solid #06BAB8;
    box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
    width: 40vw;
    z-index: 3;
    aspect-ratio: 16 / 9;
}









.instagram-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 51.05vw;
    width: 100%;
    z-index: 3;
    gap: 6vw;
    position: relative;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    background-image: url('/images/backgrounds/lastOneBakcground.webp');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.instagram-section::before {
    content: " ";
    position: absolute;
    opacity: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51.05vw;
    background-color: rgba(0, 0, 0, 0.52);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.instagram-Description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.instagram-Description h2 {
    font-size: 3vw;
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    font-display: swap;
    color: #06BAB8;
    z-index: 3;
    line-height: 2vw;
    z-index: 3;
}

.instagram-Description p {
    font-family: "Roboto", sans-serif;
    z-index: 3;
    font-size: 0.8vw;
    font-display: swap;
    width: 18vw;
    line-height: 1.45vw;
    z-index: 3;
}

.instagram-section a {
    background-color: #FF1E7D;
    border: none;
    padding-top: 0.44vw;
    padding-bottom: 0.44vw;
    padding-left: 0.56vw;
    padding-right: 0.56vw;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: calc(0.5vw + 0.3rem);
    font-display: swap;
    text-decoration: none;
    z-index: 3;
    transition: 250ms;
}

.instagram-section a:hover {
    background-color: #8a1244;
    transition: 250ms;
}

.instagram-img {
    width: 15vw;
    z-index: 3;
    aspect-ratio: 77 / 90;
}







footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10vw;
    width: 100%;
    background-color: black;
    position: relative;
}

footer::before {
    content: "";
    height: 10vw;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.7;
    border-radius: 392px;
    background: radial-gradient(30.93% 30.93% at 50.00% 69.07%, #06BAB8 0%, rgba(0, 0, 0, 0.00) 100%);
    filter: blur(190px);
    z-index: 1;
}


.list-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    gap: 3.8vw;
    z-index: 3;
}


footer h2 {
    font-family: "bebas-neue-by-fontfabric", sans-serif;
    font-weight: 700;
    color: #06BAB8;
    font-display: swap;
    font-size: 1vw;
    margin-bottom: 0.48vw;
}

footer ul li {
    text-decoration: none;
    margin-bottom: 0.45vw;
    list-style-type: none
}

.footer-list ul li a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-display: swap;
    font-size: 0.67vw;
}

.footer-list ul li a:hover {
    cursor: pointer;
}


/* Phones */

.navIcon {
    display: none;
}